# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
build/
coverage/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MongoDB data
data/db/

docker-compose.yml